.nav{
  /* grid-area: h; */
  
  display: inline-block; 
  position: absolute; 
  top: 7px;
  left: 40%;
  

}


.nav .item{
  /* grid-area: n; */
  display: inline-block;
  border: 1px solid#D3D6DB;
  background: white;
  width: 108px;
  height: 43px;
  padding-top: 10px;
  padding-left: 5%;
  
  font-weight: bold;

  
}
.nav .item a{
  color: #385898;
  margin: auto;
  width: 108px;
  height: 43px;

}

.nav .item:hover{
  cursor: pointer;
  background-color:#F5F6F7;
}

.item a.active{

  color: red;
}