body{
  background: rgb(66,103,178);
background: linear-gradient(188deg, rgba(66,103,178,1) 0%, 
rgba(81,129,184,1) 35%, rgba(0,212,255,1) 100%);

}

.app-wrapper{
  
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-rows: 79px 2fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "h h"
  "n c";
}
