

.nav .item{
  /* grid-area: n; */
  background-color:white;
  /* height: 700px; */
  height: 43px;
  width: 108px;
 

}

.item {
  border: 1px solid;
  color: blue;
  border-radius: 4px;
  height: 30px;
  padding-left: 30px;
  
  
  
}

.item a{
  color: #385898;
  font-weight: bold;
}

.active{
  color: black;
}


.item:hover{
  color:#F5F6F7;
  /* font-size: 25px;
  transform: 1s;
  animation: reverse; */
}



